---
import { titleCva } from "@/lib/cvas";
import LinkInfoCards from "../ui/link-info-Cards.astro";
import classNames from "classnames";
interface Props {
  subtitle: string;
  title: string;
  para: string[];
  linkCard: {
    title: string;
    description: string;
    image: string;
    url: string;
  };
}

const { subtitle, title, para, linkCard } = Astro.props;
---

<section
  class="flex flex-col items-start gap-10 py-5 md:flex-row lg:py-10 xl:gap-20"
>
  <div class="flex flex-col gap-3 md:w-1/2 xl:w-[60%]">
    <small
      class="text-light not-prose font-os text-xs uppercase tracking-wide lg:text-sm"
    >
      {subtitle}
    </small>
    <h1
      class={classNames(
        titleCva({
          size: "md",
        }),
        "not-prose",
      )}
    >
      {title}
    </h1>
    {
      para?.map((p) => (
        <p class="not-prose max-w-2xl text-sm font-light text-zinc-700 lg:text-base">
          {p}
        </p>
      ))
    }
    <slot />
  </div>
  <div class="not-prose md:w-1/2 xl:w-[40%]">
    <LinkInfoCards item={linkCard} />
  </div>
</section>
