---
import { Image } from "astro:assets";
import classNames from "classnames";
interface Props {
  image: string;
  title: string;
  description: string;
  normal?: boolean;
}

const { image, title, description, normal } = Astro.props;
---

<li
  class={classNames(
    "flex flex-col  rounded-[10px] bg-[#F0F9FF]  md:gap-4 md:p-5",
    normal ? "p-5 gap-4" : "p-2 gap-2",
  )}
>
  <Image
    width={50}
    height={50}
    src={image}
    alt={title}
    class="size-8 object-contain md:size-11"
  />
  <h2 class="text-sm font-medium md:text-base">{title}</h2>
  <p class="text-xs text-zinc-500 md:text-sm">{description}</p>
</li>
