---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
  link: string;
}
const { link } = Astro.props;
---

<a
  target="_blank"
  href={link}
  rel="noopener noreferrer"
  class="group flex flex-col items-center gap-4 rounded-xl border bg-white px-4 py-8 md:flex-row md:gap-8 md:rounded-2xl md:px-8 lg:rounded-xl lg:px-10"
>
  <Image
    src="/images/empty2.svg"
    alt="No Data"
    class="md:w-[10rem]"
    width={500}
    height={500}
  />
  <h1 class="flex-1 text-xl font-medium text-zinc-400 md:text-sm lg:text-2xl">
    Currently, there are no updates on this platform. Kindly visit this forum
    link for updates from this workgorup.
  </h1>
  <div class="flex w-full justify-end md:w-auto md:justify-normal">
    <Icon
      name="arrow-circle"
      class="size-14 -rotate-45 stroke-[0.8] text-zinc-400 transition-all group-hover:rotate-0"
    />
  </div>
</a>
