---
import { tagCva } from "@/lib/cvas";
interface Props {
  href?: string;
  active?: boolean;
}

const { href, active } = Astro.props;
console.log({ href, active });
---

<a href={href} class={tagCva({ active, href: !!href })}>
  <slot />
</a>
