---
import Button from "@/components/ui/button.astro";

import { Icon } from "astro-icon/components";
import TimeZoneCalendar from "./TimeZone";
---

<section
  class="flex flex-col gap-6 rounded-small border p-5 md:rounded-3xl lg:rounded-5xl"
>
  <TimeZoneCalendar
    client:load
    calendarId="c_4157985d2452dfd8a91b6a36bccab37deb9bffe9053a4b9bcc4e9fff9ef02924@group.calendar.google.com"
  />
  <Button href="#event-calender" className="w-full" id="event-calender">
    <Icon name="calendar" class="mr-2" />
    View Event Resources
  </Button>
</section>
