---
import Button from "@/components/ui/button.astro";

import { Icon } from "astro-icon/components";

const calenderLink =
  "https://calendar.google.com/calendar/u/0/embed?src=c_4157985d2452dfd8a91b6a36bccab37deb9bffe9053a4b9bcc4e9fff9ef02924@group.calendar.google.com&ctz=Europe/Warsaw&pli=1";
---

<section
  class="flex flex-col gap-6 rounded-small border p-5 md:rounded-3xl lg:rounded-5xl"
>
  <iframe src={calenderLink} style="border: 0" width="100%" height="400"
  ></iframe>
  <Button href="={calenderLink}" className="w-full">
    <Icon name="calendar" class="mr-2" />
    Events Calendar
  </Button>
</section>
