---
import { buttonVariants } from "@/lib/cvas";
import { Icon } from "astro-icon/components";
import { type VariantProps } from "class-variance-authority";
import classNames from "classnames";

interface Props extends VariantProps<typeof buttonVariants> {
  disabled?: boolean;
  type?: "button" | "submit" | "reset";
  href?: string;
  className?: string;
  arrow?: boolean;
  id?: string;
  icon?: string;
}

const { variant, href, size, className, arrow, icon, ...buttonProps } =
  Astro.props;
---

<a href={href} target={href?.startsWith("http") ? "_blank" : undefined}>
  <button
    {...buttonProps}
    class={classNames(buttonVariants({ variant, size }), className)}
  >
    {
      icon && (
        <Icon
          name={icon}
          class={classNames({
            "mr-2 size-4": size === "lg",
            "mr-1 size-3": size === "sm",
          })}
        />
      )
    }
    <slot />
    {
      arrow && (
        <Icon
          name="arrow-circle"
          class={classNames(" size-3 -rotate-45 md:size-4", {
            "ml-2": size !== "sm",
          })}
        />
      )
    }
  </button>
</a>
